
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: #fff;
    margin: 7em auto;
}

.title {
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 1.9em;
}

span {
    font-weight: 800;
}

.search {
    color: #000;
}

.input {
    border: none;
}

.user {
    display: flex;
    gap: 1em;
    background-color: #d9d9d9;
    max-width: 600px;
    box-shadow: #fff 1px 1px 2px;
    padding: 2em;
    border-radius: 5px;
    text-align: left; 
}

.user-img {
    border: #005cff solid 1px;
}

.user h3 {
    color: #005cff;
}

.user p {
    color: #000;
}

.user-data {
    display: grid;
    gap: .5em;
}

.error {
    background-color: #d9d9d9;
    color: #f34444;
    text-align: center;
    width: 600px;
    padding: 1.5em;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {

    .user {
        margin: 0 auto;
        margin-left: 8.8em;
        display: grid;
        max-width: 300px;
        justify-content: center;
        text-align: center;
    }

    .user-img {
        margin-left: 3.5em;
    }

    .error {
        margin: 0 auto;
        margin-left: 8.8em;
        display: grid;
        max-width: 300px;
        justify-content: center;
        text-align: center;
    }
}
